<form class="form-horizontal" role="form" action="{:url('edit')}" method="post">	
<input name="id" type="hidden" value="{$info['id']}" />
	<div class="form-group">
    <label class="col-sm-3 control-label" for="screen_id">{:lang('screen/ScreenDrawAward:screen_id')}：</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="screen_id" name="screen_id" value="{$info['screen_id']}">
	</div>
</div><div class="form-group">
    <label class="col-sm-3 control-label" for="title">{:lang('screen/ScreenDrawAward:title')}：</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="title" name="title" value="{$info['title']}">
	</div>
</div><div class="form-group">
    <label class="col-sm-3 control-label" for="level">{:lang('screen/ScreenDrawAward:level')}：</label>
	<div class="col-sm-9">
		<input type="number" class="form-control" id="level" name="level" value="{$info['level']}">
	</div>
</div><div class="form-group">
    <label class="col-sm-3 control-label" for="image">{:lang('screen/ScreenDrawAward:image')}：</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="image" name="image" value="{$info['image']}">
	</div>
</div><div class="form-group">
    <label class="col-sm-3 control-label" for="num">{:lang('screen/ScreenDrawAward:num')}：</label>
	<div class="col-sm-9">
		<input type="text" class="form-control" id="num" name="num" value="{$info['num']}">
	</div>
</div><div class="form-group">
    <label class="col-sm-3 control-label" for="status">{:lang('screen/ScreenDrawAward:status')}：</label>
	<div class="col-sm-9">
		<input type="number" class="form-control" id="status" name="status" value="{$info['status']}">
	</div>
</div>
	<div class="form-group" style="text-align:center">
		<div class="col-md-12">
			<button class="btn btn-info" type="submit">
				<i class="ace-icon fa fa-check bigger-110"></i>
				确认修改
			</button>
		</div>
	</div>
</form>