
<!DOCTYPE html>
<html>
	<head>
		<title>3D-签到动画</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="__STATIC__/screen/qiandao/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/screen/qiandao/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/screen/qiandao/css/draw.css"/>
		<link rel="stylesheet" href="__STATIC__/screen/qiandao/css/animate.min.css">
	</head>
	<body style="background-image: url({ $qiandao['bg_img']});">
		<input type="hidden" id="qid" value="{:input('id')}" />
		<input type="hidden" id="islogin" value="{ $login_ident}" />
		<input type="hidden" id="url" value="{ $qiandao['mobile_url']}" />
		<audio  id="bgMusic" src="{ $qiandao['bg_music']}" loop autoplay></audio>
		<div class="login-box" id="login-box">
			<p class="title">{ $qiandao['title']}</p>
			<div>
				<input type="text" name="password" id="password" value="请输入管理密码" />
				<input type="button" id="submit" value="开启"/>
			</div>
		</div>
		<div class="top-title">
			<img src="{ $qiandao['logo']}"/>{ $qiandao['title']}
		</div>
		<div class="code-box">
			<div class="left-box">
				<div class="code-bg">
					<div id="qrcode"></div>
				</div>
				<p>扫一扫进入活动中</p>
			</div>
			<span class="line"></span>
			<div class="right-box">
				<!--<p>搜索关注<span>威帅</span> <br /> 发送<span>江淮R3</span>即可参与</p>-->
			</div>
		</div>
		<div class="draw-list" style="display: none;">
			<ul>
				<li>
					<div class="box">
						<p class="title">四等奖</p>
						<div class="gift">
							<img src="__STATIC__/screen/qiandao/img/d-gift.png"/>
							<p class="name">388元定制登机箱</p>
						</div>
						<p class="num-people">(获奖人数3人)</p>
						<div class="btn-draw">
							去抽奖
						</div>
					</div>
				</li>
				<li>
					<div class="box">
						<p class="title">四等奖</p>
						<div class="gift">
							<img src="__STATIC__/screen/qiandao/img/d-gift.png"/>
							<p class="name">388元定制登机箱</p>
						</div>
						<p class="num-people">(获奖人数3人)</p>
						<div class="btn-draw">
							去抽奖
						</div>
					</div>
				</li>
				<li>
					<div class="box">
						<p class="title">四等奖</p>
						<div class="gift">
							<img src="__STATIC__/screen/qiandao/img/d-gift.png"/>
							<p class="name">388元定制登机箱</p>
						</div>
						<p class="num-people">(获奖人数3人)</p>
						<div class="btn-draw">
							去抽奖
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="drawing-box" style="display: none;">
			<!--1800-->
			<div class="drawing-left">
				<div class="begin-draw">
					<div class="title">
						<span class="level">一等奖</span>
						<span class="total">500人</span>
					</div>
					<div class="award">
						<p class="ben">本轮奖品</p>
						<p class="gift-img">
							<img src="__STATIC__/screen/qiandao/img/d-gift.png"/>
						</p>
						<p class="gift-name">388元定制登机箱</p>
					</div>
					<div class="draw-content">
						<div class="runing">
							<img src="__STATIC__/screen/qiandao/img/d-init.png"/>
						</div>
						<div class="go-draw">
							开始抽奖
						</div>
					</div>
				</div>
				<div class="back-btn">
					<div class="all-result">
						<span class="text">本轮奖品数量3</span>
						<span class="btn">全部结果</span>
					</div>
					<div class="back-draw">
						返回奖品页
					</div>
				</div>
			</div>
			<div class="drawing-right">
				<div class="title">
					获奖名单
				</div>
				<div class="awards-list">
					<ul>
						<li>
							<span class="ranking">1</span>
							<span class="head-img"><img src="__STATIC__/screen/qiandao/img/head-img.png"/></span>
							<span class="name">张明明</span>
						</li>
						<li>
							<span class="ranking">2</span>
							<span class="head-img"><img src="__STATIC__/screen/qiandao/img/head-img.png"/></span>
							<span class="name">张明明</span>
						</li>
						<li>
							<span class="ranking">3</span>
							<span class="head-img"><img src="__STATIC__/screen/qiandao/img/head-img.png"/></span>
							<span class="name">张明明</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="award-box">
			<div class="title">
				获奖名单
			</div>
			<div class="award-content">
				<ul class="nav clearfix" id="navbar">
					<li class="active" data-nav='tabs-1'>一等奖</li>
					<li data-nav='tabs-2'>二等奖</li>
					<li data-nav='tabs-3'>三等奖</li>
				</ul>
				<div class="awards-list">
					<ul class="clearfix" id="tabs-1">
						<li class="head">                                                      
							<span class="sort">序号</span>
							<span class="head-img">头像</span>
							<span class="nickname">昵称</span>
							<span class="phone">手机号码</span>
						</li>
						<li class="item">                                                      
							<span class="sort">1</span>
							<span class="head-img"><img src="__STATIC__/screen/qiandao/img/head-img.png"/></span>
							<span class="nickname">张明明</span>
							<span class="phone">13543525200</span>
						</li>
					</ul>
					<ul class="clearfix" id="tabs-2" style="display: none;">
						<li class="head">                                                      
							<span class="sort">序号</span>
							<span class="head-img">头像</span>
							<span class="nickname">昵称</span>
							<span class="phone">手机号码</span>
						</li>
						<li class="item">                                                      
							<span class="sort">2</span>
							<span class="head-img"><img src="__STATIC__/screen/qiandao/img/head-img.png"/></span>
							<span class="nickname">张明明</span>
							<span class="phone">13543525200</span>
						</li>
					</ul>
					<ul class="clearfix" id="tabs-3" style="display: none;">
						<li class="head">                                                      
							<span class="sort">序号</span>
							<span class="head-img">头像</span>
							<span class="nickname">昵称</span>
							<span class="phone">手机号码</span>
						</li>
						<li class="item">                                                      
							<span class="sort">3</span>
							<span class="head-img"><img src="__STATIC__/screen/qiandao/img/head-img.png"/></span>
							<span class="nickname">张明明</span>
							<span class="phone">13543525200</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="menu-box">
			<ul class="menu-list">
				<!--<li>弹幕</li>
				<li>音乐</li>
				<li>视频</li>
				<li>皮肤</li>
				<li>应用</li>-->
				<li class="screen-icon" onclick="fullScreen();">全屏</li>
			</ul>
		</div>
		<script src="__STATIC__/screen/qiandao/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/screen/qiandao/js/qrcode.min.js"></script>
		<script type="text/javascript">
			//生产二维码
			new QRCode(document.getElementById('qrcode'), $('#url').val());
		</script>

		<script>
    		// 登录验证
    		$('#submit').click(function(){
    			var pws=$('#password').val();
    			var id=$('#qid').val();
    			if($('#password').attr('type')=='text'){
    				return;
    			}
    			
    			$.ajax({
    				type:"post",
    				url:"{:url('login_check')}",
    				data:{id:id,password:pws},
    				dataType:'json',
    				success:function(rs){
    					if(rs.status==100){
    						$('#login-box').hide();
    						$('#islogin').val(1);
    						isLogin()
    					}else{
    						alert(rs.info);
    					}
    				}
    			});
    		})
    		//密码输入变化
    		$('#password').focus(function(){
    			if($(this).attr('type')=='text'){
	    			$(this).attr('type','password');
	    			$(this).val('');	
    			}
    			
    		})
    		$('#password').blur(function(){
    			if($(this).val()==''){
    				$(this).attr('type','text');
    				$(this).val('');
    			}
    			
    		})

			isLogin()
			function isLogin(){
				if($('#islogin').val()!=0){
					$('#login-box').hide();
				}	
			}
		
	        //全屏
	        function fullScreen(){
	            var el = document.documentElement;
	            var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullscreen;      
	                if(typeof rfs != "undefined" && rfs) {
	                    rfs.call(el);
	                };
	              return;
	        }
	        
	        $('#navbar li').click(function(){
	        	$(this).addClass('active').siblings().removeClass('active');
	        	var nid=$(this).attr('data-nav');
	        	$('#'+nid).show().siblings().hide();
	        	
	        })
		</script>
		
	</body>
</html>
